<!doctype html>
<html ng-app="pledgedSitesApp">
    <head>
        <meta charset="utf-8">
        <title>Pledge Panel</title>
    </head>
    <body ng-cloak>
        <div class="container" ng-controller="pledgePanelCtr">
          <div class="pledge-intro" ng-show="pledgedSiteDialog">
            {{siteInfo.host}} is Ad free:
            <div ng-show="!siteInfo.unblocked">
              <button class="btn btn-default" ng-click="passon('unblock')">Show Ads</button>
            </div>
            <div ng-show="siteInfo.unblocked">
              <button class="btn btn-default" ng-click="passon('reblock')">Block Ads</button>
            </div>
            <div ng-show="!siteInfo.unpledged">
              <button class="btn btn-default" ng-click="passon('unpledge')">Revoke your pledge</button>
              to {{siteInfo.host}}.
            </div>
          </div>
          <div class="pledge-intro" ng-show="nominateSiteDialog">
            {{siteInfo.host}} does not support Mozilla Pledge, but you can
            <button class="btn btn-default" ng-click="passon('nominate')">Nominate this Site</button>
            and Mozilla will contact {{siteInfo.host}} on your behalf.
          </div>
          <spacer></spacer>
          <div>
            <a href ng-click="passon('landing')">LANDING PAGE</a>
          </div>
        </div>
    </body>
</html>
