<!doctype html>
<html ng-app="pledgedSitesApp">
    <head>
        <meta charset="utf-8">
        <title>Pledge Away</title>
    </head>
    <body ng-cloak>
        <div class="container" ng-controller="pledgedSitesCtrlDebug">
          <div ng-show="pledgedSites">
          <div>
             <button class="btn btn-default" ng-click="clearAll()">Clear All Sites</button>
          </div>
            <form>
              Enter participating site
              <input type="text"
                     size="30"
                     ng-model="newsite"/>
              <button class="btn btn-default" ng-click="addSite()">Add</button>
              <button class="btn btn-default" ng-click="clearSite()">Clear</button>
            </form>
            <!-- <pre ng-show="pledgedSites">{{pledgedSitesStr}}</pre> -->
            <table class="table table-condensed" ng-show="pledgedSites">
               <tr ng-repeat="site in pledgedSitesKeys">
                 <td>
                   <a href="http://{{site}}">{{site}}</a>
                 </td>
                 <td>
                   <span ng-show="pledgedSites[site].canPledge"> supports s2w</span>
                   <span ng-show="!pledgedSites[site].canPledge"> does not support s2w</span>
                 </td>
                 <td>
                   <span ng-show="pledgedSites[site].pledged"> already pledged </span>
                   <span ng-show="!pledgedSites[site].pledged"> never pledged </span>
                 </td>
                 <td>
                   offered {{pledgedSites[site].offered}} times
                 </td>
                 <td>
                   pledge later {{pledgedSites[site].pledgeLater}}
                 </td>
                 <td>
                   <span ng-show="pledgedSites[site].cancelledForever"> cancelled </span>
                 </td>
                 <td>
                   <span ng-show="pledgedSites[site].unblocked"> unblocked on</span>
                   <span ng-show="!pledgedSites[site].unblocked"> unblocked off </span>
                 </td>
                 <td>
                   <span ng-show="pledgedSites[site].unpledged"> unpledged on </span>
                   <span ng-show="!pledgedSites[site].unpledged"> unpledged off </span>
                 </td>
                 <td>
                   <button class="" ng-click="clearSite(site)">Clear</button>
                 </td>
                 <td>
                   <button class="" ng-click="deleteSite(site)">Delete</button>
                 </td>
                 <!--
                 <td>
                   <button class="btn btn-default" ng-click="clear(site)">Clear All</button>
                 </td>
                 -->
               </tr>
            </table>
          </div>
        </div>
    </body>
</html>
