<!doctype html>
<html ng-app="pledgedSitesApp">
    <head>
        <meta charset="utf-8">
        <title>subscribe to web introduction</title>
    </head>
    <body ng-cloak>
        <div class="container" ng-controller="introCtl">
          <p>You can pledge to your favorate sites and mozilla project</p>
          <div>
            <button class="btn btn-default" ng-click="startStudy()">Start the Study</button>
            <button class="btn btn-default" ng-click="cancelStudy()">Cancel and uninstall study</button>
          </div>
        </div>
    </body>
</html>
