<!doctype html>
<html ng-app="pledgedSitesApp">
    <head>
        <meta charset="utf-8">
        <title>Pledge Away</title>
    </head>
    <body ng-cloak>
        <div class="container" ng-controller="pledgedSitesCtrlDebug">
          <div ng-show="pledgedSites">
          <div>
             <button class="btn btn-default" ng-click="clearAll()">Clear All Sites</button>
          </div>
          <!--
            <form ng-submit="monthlyPledge()">
              Your monthly total pledge
              <input type="number"
                     size="20"
                     ng-model="monthlyPledgeAmount"/>
            </form>
            -->
            <!-- <pre ng-show="pledgedSites">{{pledgedSitesStr}}</pre> -->
            <table class="table table-condensed" ng-show="pledgedSites">
               <tr ng-repeat="site in pledgedSitesKeys">
                 <td>
                   <a href="http://{{site}}">{{site}}</a>
                 </td>
                 <td>
                   <span ng-show="pledgedSites[site].canPledge"> supports s2w</span>
                   <span ng-show="!pledgedSites[site].canPledge"> does not support s2w</span>
                 </td>
                 <td>
                   <span ng-show="pledgedSites[site].pledged"> already pledged </span>
                   <span ng-show="!pledgedSites[site].pledged"> never pledged </span>
                 </td>
                 <td>
                   offered {{pledgedSites[site].offered}} times
                 </td>
                 <td>
                   cancelled for later {{pledgedSites[site].pledgeLater}} times
                 </td>
                 <td>
                   <span ng-show="pledgedSites[site].cancelledForever"> cancelled for ever </span>
                 </td>
                 <td>
                   <span ng-show="pledgedSites[site].unblocked"> unblocked on</span>
                   <span ng-show="!pledgedSites[site].unblocked"> unblocked off </span>
                 </td>
                 <td>
                   <span ng-show="pledgedSites[site].unpledged"> unpledged on </span>
                   <span ng-show="!pledgedSites[site].unpledged"> unpledged off </span>
                 </td>
                 <!--
                 <td>
                   <button class="btn btn-default" ng-click="pledge(site)">Pledge More</button>
                 </td>
                 <td>
                   <button class="btn btn-default" ng-click="clear(site)">Clear All</button>
                 </td>
                 -->
               </tr>
            </table>
          </div>
        </div>
    </body>
</html>
